<div class="container py-3">
  <div class="row">
    <div class="col-md-6 col-lg-4 mx-auto">
      <div class="card">
        <h3 class="card-header text-center mb-4">Sign Up!</h3>
        <div class="card-body">
          <fieldset>
          <%= form_for [@league, @user]  do |f| %>
            <div class="form-group">
              <%= f.label :email, "E-Mail Address" %>
              <%= f.text_field :email, class: 'form-control input-lg' %>
            </div>
            <div class="form-group">
              <%= f.label :first_name, "First Name" %>
              <%= f.text_field :first_name, class: 'form-control input-lg' %>
            </div>
            <div class="form-group">
              <%= f.label :last_name, "Last Name" %>
              <%= f.text_field :last_name, class: 'form-control input-lg' %>
            </div>
            <%= f.fields_for :user_league_role do |ff| %>
            <div class="form-group">
              <%= ff.label :invited, "Invite?" %>
              <%= ff.check_box :invited, id: 'invite_user', class: 'form-control input-lg' %>
            </div>
            <div class="form-group">
              <%= ff.label :admin, "Admin?" %>
              <%= ff.check_box :admin, id: 'create_admin', class: 'form-control input-lg' %>
            </div>
            <% end %>
            <%= f.submit 'Create Player!', class: 'btn btn-lg btn-outline-primary btn-block' %>
          <% end %>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
