<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <%= link_to raw("<span>POKER</span>TOURNAMENT<span>MANAGER</span>"), root_path, class: 'navbar-brand' %>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <% if current_user %>
          <li class="nav-item dropdown">
            <a class="nav-link custom-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to 'Dashboard', dashboard_path, class: 'dropdown-item nav-link' %>
              <% if @league && @league.id && current_user.admin_for_league?(@league) %>
                <%= link_to 'New Player', new_league_user_path(@league), class: 'dropdown-item nav-link' %>
              <% end %>
              <%= link_to 'New League', new_league_path, class: 'dropdown-item nav-link' %>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Out", sign_out_path, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign In", sign_in_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">OR</a>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", sign_up_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
